.footer{
  background-image: url("../images/image10.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 82px 641px 79px 641px;
}


.footer__title{
  font-family: "Oxygen";
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #EFEFEF;
}

.footer__circle{
  width: 188px;
  display: block;
  background: #DEDEDE;
  border-radius: 0px;
  margin-bottom: 40px;
}

.form{
  margin-left: -102px;
  margin-right: 470px;
  display: flex;
  
}



.form__input{
  padding: 18px 208px 18px 35px;
  border: none;
  outline: none;
  border-radius: 3px 0px 0px 3px;
}

.form__button{
  padding: 18px 44px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.28);
  border-radius: 0px 3px 3px 0px;
  text-align: center;
  border-radius: 3px 0px 9px -2px;
}

.footer__box{
  display: flex;
  align-items: center;
  margin-top: 200px;
  margin-left: -95px;
  // padding: 100px 100px;
}

.footer__bar{
  margin-left: 671px;
}

.footer__list{
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin-right: auto;
}

.footer__info{
  font-family: "Lora";
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 26px;
  color: #FFFFFF;
  margin-left: -260px;
}

.footer__link{
  font-family: "Lora";
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 26px;
  text-decoration: none;
  padding: 10px 20px;
  color: #FFFFFF;
}

.footer__item + .site-header__item{
  margin-left: 40px;
}
